li {
  display: inline;
}
li {
  float: right;
}
a {
  padding: 8px;
  background-color: #6dee949d;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(53, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: wheat;
}

li a:hover {
  background-color: rgb(155, 138, 138);
}
summary{
  color: chartreuse;
  text-shadow: coral;
}
h3{
  color: aqua;
  text-rendering: geometricPrecision;
}
p1{
  text-size-adjust: 10px;
  color: azure;
}
p2{
text-size-adjust: 10px;
color: rgba(243, 216, 63, 0.829);
}
p{
  text-size-adjust: 10px;
  color: rgba(137, 245, 245, 0.829);
}
